body{
  font-family: 'Karla', serif;
  background-color: #F5F7FB;
  color: #293264;
  margin: 0;
}

.App{
  display: flex;
  justify-content: middle;
}

.entryPage{
  flex: 1 1 auto;
  height: 100vh;
  background-image: url("./assets/blueball.png"), url("./assets/yellowball.png");
  background-repeat: no-repeat, no-repeat;
  background-size: 150px;
  background-position: left bottom, right top; 
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.entryPage>h1{
  font-size: 31px;
  font-weight: 700;
  margin: 0;
}

.entryPage>h3{
  font-size: 16px;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 30px;
}

.entryPage>button{
  height: 52px;
  width: 193px;
  font-size: 16px;
  font-weight: 400;
  color: white;
  border: none;
  border-radius: 7px;
  display: block;
  margin: 0 auto;
  background-color: #4D5B9E;
  cursor: pointer;
}

.questionPage{
  flex: 1 1 auto;
  height: 100vh;
  background-image: url("./assets/question-blueball.png"), url("./assets/question-yellowball.png");
  background-repeat: no-repeat, no-repeat;
  background-size: 150px;
  background-position: left bottom, right top; 
  padding: 40px 75px;  
}

.questionDiv{
  max-width: 700px;
  margin: auto;
  text-align: center;
}

.question{
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 12px;
}

.optionDiv{
  display: flex;
  justify-content: center;
  font-size: 14px;
  margin-bottom: 20px;
  margin-top: 10px;
  flex-wrap: wrap;
}

.option{
  display: inline-block;
  white-space: nowrap;
  border: 1px solid #4D5B9E;
  border-radius: 12px;
  margin-left: 0;
  margin-right: 20px;
  margin-top: 10px;
  padding: 4px 13px 4px 13px;
  text-align: center;
  cursor: pointer;
}

hr{
  height: 1px;
  background-color: #DBDEF0;
  border: none;
}

.questionPage>button{
  height: 40px;
  width: 125px;
  font-size: 14px;
  font-weight: 400;
  color: white;
  border: none;
  border-radius: 10px;
  display: block;
  margin: 30px auto;
  background-color: #4D5B9E;
  cursor: pointer;
}

.scoreDiv{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.score{
  font-weight: 700;
  font-size: 18px;
  margin-right: 20px;
  padding-top: 10px;
}

.playAgainButton{
  height: 40px;
  width: 125px;
  font-size: 14px;
  font-weight: 400;
  color: white;
  border: none;
  border-radius: 10px;
  background-color: #4D5B9E;
  cursor: pointer;
}

